		<div id="<%= dom_id(recept) %>">
			<div id="<%= dom_id(recept) %>_notice"></div>
			<h2><%= link_to h(truncate(recept.naziv, :length => 20)), recept %></h2>
			<small><%= recept.created_at.strftime('%d.%m.%Y. %H:%M:%S') %></small>
			<p>
					<% 	#= sanitize_fu(textilize_without_paragraph(truncate_lines(recept.body_source, 10))) 
							# => = textilize_without_paragraph(truncate_lines(recept.body_source, 10)).gsub(/<\/?[^>]*>/, "")
							#= sanitize(textilize_without_paragraph(truncate_lines(recept.body_source, 10)), :tags => %w(h1 a p br b strong)) -%>
					<%= sanitize(textilize_without_paragraph(truncate_lines(recept.body_source, 10)), :tags => %w(h1 a br b strong)) -%>
			</p>
			<p class="category">Kategorije: <%= render :partial => "kategorije", :locals => { :category => recept.category } %></p>
			<p><%= link_to 'Prikaži', recept %> |
				<% #@recept = recept %>
				<% #= link_to_function("Do AJAX test", nil) do |page| # page.replace_html dom_id(recept), :partial => 'form', :object => @recept; end -%>

				<%= link_to_remote "Promijeni (AJAX)",
							{ :url => { :action => "edit", :id => recept.id, :ajax => "1" },
							:method => :get, :update => dom_id(recept) } -%> |

				<% #= remote_function(:url => recept_path(recept), :method => :put, :update => dom_id(recept) ) -%>

			<%= link_to 'Promijeni', edit_recept_path(recept) %> |
			<%= link_to 'Obriši', recept, :confirm => 'Are you sure?', :method => :delete %> |

			<%= link_to_remote 'Obriši (AJAX)',
					:url => recept_path(recept),
					:method => :delete,
					# :position => :top,
					:confirm => 'Are you sure?' %>

				<% #= link_to_remote 'Obriši (AJAX)', :url => { :action => 'destroy', :id => recept.id } -%>

			</p>

			<div class="hr_div"></div>

		</div>
