<% title "Recept: " + @recept.naziv %>

<p id="show_naslov">
  <%=h @recept.naziv %>
</p>

<div class="hr_div" />

<p>
  <%= textilize_without_paragraph(@recept.body_source) %>
</p>
<br><br><br><br><br><br>
<p>
  <b>Kategorije:</b>
  <%=h @categories %>
</p>

<p><%= link_to 'Promijeni', edit_recept_path(@recept) %> |
<%= link_to 'Nazad', recepts_path %> |
<%= link_to 'Obriši', @recept, :confirm => 'Are you sure?', :method => :delete %></p>

